{{ 'section-main-about-us.scss.css' | asset_url | stylesheet_tag }}

<div class="about-us section-main">
  <div class="section">
    <div class="box">
      <h3>Our Goal</h3>
      <p>Our mission is to provide a sustainable future for fashion by reducing waste and promoting responsible consumption. Every handbag sold is verified with our digital passport, ensuring authenticity and guaranteeing a seamless resale experience. With our closed-loop model, you can buy, sell, or even trade your handbags, knowing that each transaction is contributing to a more sustainable future. Join us in the pursuit of a more conscious and circular fashion industry.
      </p>
    </div>
    <img src="{{ "about1.png" | asset_url}}" alt="">
  </div>
  <div class="section">
    <img src="{{ "about2.png" | asset_url }}" alt="">
    <div class="box">
      <h3>Circular Fashion</h3>
      <p>Join the Galore Club to embrace circular fashion and a more sustainable way of consuming. With each bag purchase, you not only own a stylish and high-quality accessory, but also the opportunity to sell it back to the club. This closed-loop system is the essence of circular fashion, where buying, renting, reselling, and repeating all play a part in reducing waste and promoting sustainability. By becoming a member, you're making a conscious choice to support a better future for fashion.</p>
    </div>
  </div>
  <div class="section">
    <div class="box">
      <h3>Why is our ecosystem effective?</h3>
      <p>Circular fashion is an innovative model for sustainable and responsible consumption. It involves reusing, repairing, refurbishing, and recycling clothing and textiles, reducing the need for virgin materials and minimizing waste. This model encourages individuals to be mindful of their fashion choices and prioritize quality over quantity, leading to a more sustainable fashion industry. By participating in circular fashion, individuals can play a vital role in reducing their environmental impact and promoting a more responsible and sustainable future for fashion.</p>
    </div>
    <img src="{{ "about3.png" | asset_url}}" alt="">
  </div>
  <div class="section">
    <img src="{{ "about4.png" | asset_url}}" alt="">
    <div class="box">
      <h3>Our Founder</h3>
      <p>Elizabeth Anjorin is the CEO and Founder of Galore, an organisation transforming the luxury fashion industry with sustainable practices. Drawing upon her experience in private banking and asset management. Elizabeth is devoted to providing a scalable solution using technological advancement to provide a model which combats overconsumption of fashion.
        Join Elizabeth and the Galore team in their mission to revolutionise luxury fashion and build a greener and more sustainable future.</p>
    </div>
  </div>
</div>