{{ 'section-main-join-the-loop.scss.css' | asset_url | stylesheet_tag }}
<script src="{{ 'join-the-loop.js' | asset_url }}" defer="defer"></script>

<div class="join-the-loop section-main">
  <h2 class="loop-heading">Join the Loop</h2>
  <div class="loop-subheading">
    <p>
      Our mission is to put an end to fast fashion, one secondhand-bag at a time.
    </p>
    <p>
      Join the Loop to join the circular fashion movement.
    </p>
  </div>
  <div class="loop-body">
    <div class="loop-body-left">
      <h3>HOW IT WORKS</h3>
      <div class="loop-section" id="frame-1">
        <p>
          Sign up to Join the Loop and become a member of the
          Galore Club, where luxury meets sustainability.
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        We’ll teach you all about circular fashion and how
          <span style="font-style:italic">you</span>
          can help put an end to fast fashion without breaking
          the bank or sacrificing your sense of style.
        </p>
        <div class="img-wrapper">
          <img src="{{ "1-join-img.png" | asset_url }}" alt="">
        </div>
      </div>
      <div class="loop-section hidden" id="frame-2">
        <p>Galore's circular approach maximises usage and minimises waste. When you purchase or rent a handbag from us, it comes with a unique NFC tag that acts as a digital passport, allowing you to explore your bag, verify its authenticity, and easily resell it.
        </p>
        <div class="img-wrapper">
          <img src="{{ "2-buy-img.png" | asset_url }}" alt="">
        </div>
      </div>
      <div class="loop-section hidden" id="frame-3">
        <p>At Galore, our closed-loop fashion allows you to fully enjoy the cycle of buying, renting, and reselling handbags while minimising waste. Experience the fun of exploring your bag with the help of your digital passport and repeating the process again and again.
        </p>
        <div class="img-wrapper">
          <img src="{{ "3-enjoy-img.png" | asset_url }}" alt="">
        </div>
      </div>
    </div>
    <div class="loop-body-right">
      <div class="button-list">
        <button class="loop-button selected" id="button-1">
          <div class="loop-button-text selected">
            <span>join the loop</span>
          </div>
        </button>
        <button class="loop-button" id="button-2">
          <div class="loop-button-text">
            <span>buy</span>
            <div class="scroll-box hidden">
              <ul>
                <li>pre-loved</li>
                <li>new</li>
                <li>or rent</li>
                <li>and sell</li>
                <li>pre-loved</li>
              </ul>
            </div>
          </div>
        </button>
        <button class="loop-button" id="button-3">
          <div class="loop-button-text">
            <span>enjoy & repeat</span>
          </div>
        </button>
      </div>
    </div>
  </div>
  {% if page.url == '/pages/how-it-works' %}
    <div></div>
  {% else %}
    <a
      href="pages/home"
      class="galore-button"
      id="join-button">join the loop</a>
  {% endif %}
</div>