{{ 'section-main-how-it-works.scss.css' | asset_url | stylesheet_tag }}

<div class="how-it-works section-main">
  <div class="section">
    <div class="box">
      <h3>FAQ</h3>
      <p>Have more questions? Check out our FAQ page to learn more about our inventory, NFC technology, and repairs and services.</p>
      <button class="galore-button-md">learn more</button>
    </div>
    <img src="{{ "hiw1.png" | asset_url}}" alt="">
  </div>
  <div class="section">
    <div class="wrapper">
      <img src="{{ "passport.png" | asset_url }}" alt="">
    </div>
    <div class="box">
      <h3>Digital Passport</h3>
      <p>The EU Strategy for Sustainable and Circular Textiles calls for all fashion products to be have a Digital ID by 2030. Learn more about how Galore uses digital passports to verify authenticity and empower our members to participate in circular fashion.</p>
      <button class="galore-button-md">learn more</button>
    </div>
  </div>
  <div class="section">
    <div class="box">
      <h3>Sustainability</h3>
      <p>Learn more about how our closed-loop model works to make fashion more circular and and our future more sustainable.</p>
      <button class="galore-button-md">learn more</button>
    </div>
    <img src="{{ "hiw3.png" | asset_url}}" alt="">
  </div>
  <div class="section">
    <img src="{{ "hiw4.png" | asset_url}}" alt="">
    <div class="box">
      <h3>Authenticity</h3>
      <p>Learn more about how we authenticate our bags to ensure that they are real and of the highest quality.
      </p>
      <button class="galore-button-md">learn more</button>
    </div>
  </div>
</div>