{{ 'section-main-support.scss.css' | asset_url | stylesheet_tag }}
<script src="{{ 'main-support.js' | asset_url }}" defer="defer"></script>

<div class="support section-main">
  <div class="support-section" id="support">
    <h2 class="heading1">Support Center</h2>
    <div class="btn-row">
      <div class="support-btn">
        <h3 class="heading2">manage your account</h3>
        <a href="/" class="galore-button-sm">how to manage</a>
      </div>
      <div class="support-btn">
        <h3 class="heading2">looking for an order?</h3>
        <a href="/" class="galore-button-sm">how to view orders</a>
      </div>
      <div class="support-btn">
        <h3 class="heading2">need to return?</h3>
        <a href="/" class="galore-button-sm">how to return</a>
      </div>
    </div>
  </div>
  <div class="support-section" id="faq">
    <h2 class="heading1">FAQ</h2>
    <div class="dropdown-wrapper">
      <h3>buying pre-loved items</h3>
      <div class="dropdown">
        <div>
          <span>how do we price our items?</span>
          <span>
            <img src="{{ 'arrow.png' | asset_url }}" alt="">
          </span>
        </div>
        <ul class="dropdown_menu dropdown_menu--animated">
          <li>Galore has an outsourced team of authentication experts who evaluates every handbag. We then cross evaluate the market and the condition of the bag to price our item honestly and fairly.</li>
        </ul>
      </div>
      <div class="dropdown">
        <div>
          <span>do we offer price matching?</span>
          <span>
            <img src="{{ 'arrow.png' | asset_url }}" alt="">
          </span>
        </div>
        <ul class="dropdown_menu dropdown_menu--animated">
          <li>We do not offer price matching to our already priced handbags, however when you resell a bag to us, we may offer price matching to your item.</li>
        </ul>
      </div>
      <div class="dropdown">
        <div>
          <span>what condition are our handbags in?</span>
          <span>
            <img src="{{ 'arrow.png' | asset_url }}" alt="">
          </span>
        </div>
        <ul class="dropdown_menu dropdown_menu--animated">
          <li>All of our products are in varying conditions. If you go to a handbags detail page, you will be able to see details on the condition and grade, including pictures, of the product listed.</li>
        </ul>
      </div>
    </div>
    <div class="dropdown-wrapper">
      <h3>cleaning & repairs</h3>
      <div class="dropdown">
        <div>
          <span>What happens if I lose or damage a rental Handbag?</span>
          <span>
            <img src="{{ 'arrow.png' | asset_url }}" alt="">
          </span>
        </div>
        <ul class="dropdown_menu dropdown_menu--animated">
          <li>At Galore, we offer insurance whenever you buy or rent a handbag. That way if something does happen to a bag, the insurance will cover it and no fees will be charged.</li>
        </ul>
      </div>
      <div class="dropdown">
        <div>
          <span>How do we repair our handbags?</span>
          <span>
            <img src="{{ 'arrow.png' | asset_url }}" alt="">
          </span>
        </div>
        <ul class="dropdown_menu dropdown_menu--animated">
          <li>To repair your handbag please contact Galore to get direct instructions for your specific bag. If you are already connected to our Digital Passport App, you can find repair instructions in the care guide portion of your bags ID.</li>
        </ul>
      </div>
      <div class="dropdown">
        <div>
          <span>How can I get my handbag cleaned or repaired?</span>
          <span>
            <img src="{{ 'arrow.png' | asset_url }}" alt="">
          </span>
        </div>
        <ul class="dropdown_menu dropdown_menu--animated">
          <li>Your Digital Passport will also hold information regarding the care instructions of your exact bag and many other features which you will see when you become a part of the Galore club!</li>
        </ul>
      </div>
    </div>
    <div class="dropdown-wrapper">
      <h3>nfc technology</h3>
      <div class="dropdown">
        <div>
          <span>What are Nfc Tags?</span>
          <span>
            <img src="{{ 'arrow.png' | asset_url }}" alt="">
          </span>
        </div>
        <ul class="dropdown_menu dropdown_menu--animated">
          <li>NFC (Near Field Communication) tags are small, wireless chips that allow for quick and convenient data exchange between two devices. Think tapping your credit card instead of swiping it on a card reader, or using your phone to pay for the tube: these actions are all NFC-enabled.
          </li>
        </ul>
      </div>
      <div class="dropdown">
        <div>
          <span>How do nfc tags work?</span>
          <span>
            <img src="{{ 'arrow.png' | asset_url }}" alt="">
          </span>
        </div>
        <ul class="dropdown_menu dropdown_menu--animated">
          <li>An NFC tag is embedded in a keychain that comes with each Galore bag, and they can be read by compatible smartphones or other NFC-enabled devices. With just a tap of an NFC-enabled device, Galore Club members can quickly access information and advice about their bag, and how to ensure its longevity in our commitment to the circular fashion model.</li>
        </ul>
      </div>
      <div class="dropdown">
        <div>
          <span>Can NFC tags track my location?</span>
          <span>
            <img src="{{ 'arrow.png' | asset_url }}" alt="">
          </span>
        </div>
        <ul class="dropdown_menu dropdown_menu--animated">
          <li>If you're worried about your privacy when it comes to using NFC tags, you're not alone. These tags are great for quick and convenient data exchange, but it's important to make sure your personal information and location aren't being tracked. To put your mind at ease, Galore uses encryption and data security measures to protect the information stored on the tags. If at any time you don't want your information to be collected, you can opt-out. These measures are in place to ensure that your privacy is protected when using NFC tags.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="support-section" id="contact">
    <h2 class="heading1">Contact Us</h2>
    <form action="#" class="support-form">
      <input type="text" placeholder="HOW CAN WE HELP YOU?">
      <div class="inpu  t-wrapper">
        <input type="text" placeholder="FULLNAME">
        <input type="text" placeholder="ORDER NUMBER">
      </div>
      <input type="email" placeholder="EMAIL">
      <input type="phone" placeholder="SUBJECT">
      <textarea
        wrap="hard"
        cols="20"
        placeholder="MESSAGE"></textarea>
      <div class="btn-wrapper">
        <button class="galore-button-md" id="continue">send</button>
      </div>
    </form>
  </div>
</div>