{{ 'section-main-banner.scss.css' | asset_url | stylesheet_tag }}

<div class="galore-banner section main">
  <div class="vid-wrapper">
    {% if page.url == '/pages/sell-with-us' %}
      <img
        class="banner-img"
        src="{{ "Main_Vid_3.gif" | asset_url }}"
        alt="">
    {% endif %}
    {% if page.url == '/pages/rent' %}
      <img
        class="banner-img"
        src="{{ "Main_Vid_7.gif" | asset_url }}"
        alt="">
    {% endif %}
    {% if page.url == '/pages/sustainability' %}
      <img
        class="banner-img"
        src="{{ "Sustainability-Banner.png" | asset_url }}"
        alt="">
    {% endif %}
    {% if page.url == '/pages/digital-passport' %}
      <div class="passport-banner">
        <div class="left">
          <img
            class="auth-stamp"
            src="{{ 'auth-stamp-white.png' | asset_url }}"
            alt="">
          <img
            class="passport-img"
            src="{{ 'passport.png' | asset_url }}"
            alt="">
        </div>
        <div class="right">
          <p class="passport-title">{{ page.title }}</p>
        </div>
      </div>
    {% endif %}
    {% if page.url == '/pages/authentication' %}
      <img
        class="banner-img"
        src="{{ "Main_Vid_6.gif" | asset_url }}"
        alt="">
    {% endif %}
    {% if page.url == '/pages/how-it-works' %}
      <img
        class="banner-img"
        src="{{ "Main_Vid_5.gif" | asset_url }}"
        alt="">
    {% endif %}
    {% if page.url == '/pages/about-us' %}
      <img
        class="banner-img"
        src="{{ "Main_Vid_4.gif" | asset_url }}"
        alt="">
    {% endif %}
    {% unless page.url == '/pages/digital-passport' %}
      <p>{{ page.title }}</p>
    {% endunless %}
  </div>
  <div class="breadcrumbs">home |
    <span>{{ page.title }}</span>
  </div>
</div>